<nav>
        <ul class="navbar">
            <li class="nav_logo"><a href="index.html">Logo</a></li>
            <li class="nav_home"><a href="index.html">Home</a></li>
            <li class="nav_about"><a href="about.html">About</a></li>
            <li class="nav_work"><a href="work.html">Work</a></li>
            <li class="nav_contact"><a>Contact Me</a></li>
        </ul>
</nav>