<nav>
        <ul class="topnav">
            <li class="nav_logo"><a href="/index.html">Logo</a></li>
            <li class="nav_home"><a href="/index.html">Home</a></li>
            <li class="nav_about"><a href="/about/">About</a></li>
            <li class="nav_work"><a href="/work/">Work</a></li>
            <li class="nav_contact"><a>Contact Me</a></li>
        </ul>
</nav>