

  <nav  class="topnav" id="myTopnav">
    <ul>
      <li><h1><a href="/index.html">Ding's Site</a></h1></li>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/work/">My Work</a></li>
      <li><a href="/about/">About Me</a></li>
      <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">&#9776;</a></li>
    </ul>
  </nav>
