

/* * ==================================
   Responsive Styling and Layout
   ==================================  */ 

/* ================= Use Border Box model ================= */



/* ================= Work page ================= */
.about_title{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);

  
}
.work_warrper{
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-rows: 400px 1fr 1fr;
}

.header_mywork{
  grid-column: 2/5;
  grid-row:2/3 ;
  font-size: 300%;
  text-align: center;

}

.work1_box{
  grid-row: 1/3;
  grid-column: 1/3;
  border: black solid;
  border-radius: 20px;

}
.work2_box{

  grid-column: 4/7;
  grid-row: 2/4;
  border: black solid;
  border-radius: 20px;
}

.graphic_project 
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 100px 400px 400px;
  grid-gap:10px;

}
.study_project{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 100px 400px 400px;
  grid-gap:10px;

}
.sub_title2{
  border: black solid;
  text-align: center;
  font-size: 200%;
  border-radius: 10px;
  grid-column: 1/2;
  grid-row: 1/3;

}

.sub_title{
  border: black solid;
  text-align: center;
  font-size: 200%;
  border-radius: 10px;
  grid-column: 1/2;
  grid-row: 1/3;
}

section .work_1{
  border:black solid;
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: white;
  border-radius: 20px;

}
section .work_2{
  border:black solid;
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: white;
  border-radius: 20px;
}
.img_work img{
  max-width: 100%;
  width: auto;
  height: auto;



}

/* ================= About page  ================= */
.card1_subtitle{
grid-area: 2/3;
font-size: 3em;
color: aqua;
}

.about_warpper{
  display: grid;
  grid-template-rows: 1fr;
  margin-left: 20%;
  margin-right: 20%;

}
.aboutme_info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border:black solid;
  border-radius: 20px;
  margin: 50px;
  padding:20px;

}
.aboutme_name{
grid-template-rows: 2/3;
margin: 20px;
}
.aboutme_pic img{
  border-radius: 50%;


}

/* ================= home page  ================= */
body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto
}


header {
  background: #023E73;
  padding: 2rem;
  grid-column: 1 / 4;
  color:#EAF2DC;
}
.left-sidebar {
  background:  #04D98B;
  grid-column: 1 / 2;
}

main {
  background: #04D98B;
  grid-column: 2 / 3;
}
.home_intro{
  background-color: #04D98B;
  color: #EAF2DC;
  text-align: center;
  
}
h1{
  font-family:'Fira Sans', sans-serif;
}
h1.hello_title{
font-size: 70px;
font-family:'Fira Sans', sans-serif;
text-align: center;
}
h2{
  font-family:  'Fira Code';
  font-weight: lighter;
}
.intro_mywork{
  text-align: center;
  padding-top: 50px;
}
h1.mywork_title{
font-family:'Fira Sans';
color: #EAF2DC;
font-size: 70px;
text-align: center;
}

.card1{

  border-style: solid;
  border-color: #023E73;
  border-width: 0.25em;
  border-radius: 1.5em;
  background-color: #EAF2DC;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Fira Sans';
}



@media screen and (min-width: 700px){


.card1{
  grid-template-columns: 150px 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
.card1title{
  grid-column: 1/2;
  text-align: center;
}
.card1image{
  grid-column: 1/2;
  grid-row:2/3;
  text-align: center;
  padding-left: 20px;
}
.card1image img {
  height: auto;
  max-width: 100%;
  text-align: center;
}
.card1content{

  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 18px;
  font-family:'Fira Code';
  font-weight: lighter;
}
}

.more-mywork{
  font-weight: bolder;
}
.hello_contactme{
  display: grid;
  grid-template-columns: 1fr 1.25fr;
}
.fishicon img{
  width: 50%;
  height: 50%;
  margin-bottom: 40%;
}
.bluedot{
  width: 200px;
  height: 200px;
  background-color: #023E73;
  border-radius: 50%;
}
h1.contactme{
  font-size: 70px;
  color: #EAF2DC;
  text-align: center;
}
.contact-right{
  background-color: #023E73;
  border-radius: 50%;

}

.right-sidebar {
  background:  #04D98B;
  grid-column: 3 / 4;
}

footer {
  background: #023E73;
  padding: 4rem;
  text-align: center;
  grid-column: 1 / 4;
}


.left-sidebar,
.right-sidebar {
  padding: 1rem;
}

.picding {
  text-align: center;
  width: 50%;
  height: 50%;
}


/* ================= Navbar&footer  ================= */
/* Add a dark grey background color to the top navigation */
.topnav {
  background-color: #023E73;
  overflow: hidden;
}

/* Remove default list styling: remove bullet points from the list and remove default margin */
.topnav ul{
list-style-type:none;
margin:0;
padding: 0; 
}
.topnav ul li{
margin:1em;
padding: 0;

}

/* style the site title */
.topnav h1{
/*this keeps in line with other items in nav */
margin: 0;
padding: 0;

/* style this however you want your title styled */
font-family: sans-serif;
}

/* Style the links inside the navigation bar */
.topnav ul li{
/* float: left; */
text-align: center;
list-style-type: none;
}

.topnav a {
color: #f2f2f2;
display: block;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #EAF2DC;
  color: #023E73;

}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 1000 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
.topnav li:not(:first-child) {
  display: none;
}
.topnav li.icon {
  float: right;
  display: block;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
.topnav.responsive {position: relative;}
.topnav.responsive li.icon {
  position: absolute;
  right: 0;
  top: 0;
}
/*   .topnav.responsive a { */
.topnav.responsive li {  
  float: none;
  display: block;
  text-align: left;
}
}


/* ================= Use Border Box model ================= */
 .intro_header{
  border-width: 1px;
  border-color: black;
  border-style: solid;


}

.title_box1, .title_box2{
grid-column: 1/3;
grid-row: 1;
border-color: black;
border-style: solid;
width: 200px;
height: 200px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ================= Basic Responsive Images and Video ================= */

/* ================= Responsive Embedded Video ================= */
/* to use this add a div with class videoWrapper around the iframe markup copied from YouTube or Vimeo. Then also add a ratio-16-9 (most common) or ratio-4-3 class to the wrapper depending on the aspect ratio of your video */
/* More info here: https://codepen.io/profstein/pen/mArLRj */
.videoWrapper {
    position: relative;
    padding-top: 25px;
    height: 0;
  clear:both;
  outline:1px solid red;
}

.videoWrapper.ratio-16-9{
    padding-bottom: 56.25%; /* 16:9 */
}

.videoWrapper.ratio-4-3{
    padding-bottom: 75%; /* 4:3 */
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ================= LAYOUT and MEDIA QUERIES ================= */
/* Add your CSS for the layout and media queries here */
