/* ================= Navbar&footer  ================= */
.navbar{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 80px;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  color: white;
  background-color: black;
}

.nav_logo{
background-color: grey;
color: white;
width: 60px;
height: 60px;
border-radius: 10px;
}

footer{
  background-color: rgb(182, 182, 182);
  width: auto;
  height: 200px;
}